node_modules

/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/postgres-data

/app/styles/app.css


# Prisma
/prisma/*.db
/prisma/*.db-journal
/prisma/*.sqlite
/prisma/*.sqlite-journal